<app-breadcrumb-container [links]="links"></app-breadcrumb-container>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col pr-0">
                <form #taskGroupForm="ngForm" (ngSubmit)="submitTaskGroupForm()">
                    <input hidden [(ngModel)]="taskGroup.taskGroupId" #taskGroupId="ngModel" name="taskGroupId">
                    <div class="form-group row col pr-0">
                        <input class="form-control col" type="text" placeholder="Provide group name" required
                            [(ngModel)]="taskGroup.taskGroupName" name="taskGroupName" #taskGroupName="ngModel">
                        <button class="btn btn-primary btn-input" type="submit" 
                            [disabled]="!taskGroupForm.dirty">{{taskGroup.taskGroupId ? 'Update' : 'Create'}} 
                        </button>
                        <span *ngIf="taskGroupName.invalid && taskGroupForm.submitted" 
                        class="invalid-feedback">
                            Group Name is required!
                        </span>
                    </div>
                </form>
            </div>
            <div class="mr-3">
                <button class="btn btn-secondary" (click)="backToList()">Back to list</button>
            </div>
        </div>
        <div class="row">
            <div [ngClass]="{
                'col': hideUserTaskForm,
                'col-8': !hideUserTaskForm
            }">
                <app-datatable [actions]="getActions" [callback]="getUserTasks">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-property="userTaskId" data-type="hidden">Id</th>
                                <th data-property="userTaskName" data-type="text">Task Name</th>
                                <th data-property="deadlineText" data-type="text">Deadline</th>
                                <th data-property="userName" data-type="text">User Name</th>
                                <th data-property="statusName" data-type="text">Status</th>
                                <th data-action="edit" data-type="button" data-icon="fas fa-edit"></th>
                                <th data-action="remove" data-type="button" data-icon="fas fa-trash-alt"></th>
                            </tr>
                        </thead>
                    </table>
                </app-datatable>
                <button *ngIf="taskGroup.taskGroupId" class="btn btn-icon add-button pull-right" cdkDrag>
                    <i class="fa fa-4x fa-plus-circle" (click)='createUserTask()'></i></button>
                <div *ngIf="!taskGroup.taskGroupId" class="disable-table">
                    <h6>Provide and save group name to unlock this section</h6>
                </div>
            </div>
            <div [hidden]="hideUserTaskForm" class="col-4 mt-2">
                <app-user-task [taskStatusDictionary]="taskStatuses" (save)="afterUserFormSave()"
                (cancel)="afterUserFormCancel()"></app-user-task>
            </div>
        </div>
    </div>
</div>