.loader-backgroud {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(172, 172, 172, 0.37);
}

.mat-spinner {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
