<div class="app-header">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-tasks"></i>
      Task Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of routerLinks">
          <a class="nav-link" [routerLink]="link.url">{{link.title}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>