<div class="w-100 p-2 mb-3 breadcrumb-container">
    <ng-container *ngFor="let link of links; let last = last;" >
        <a *ngIf="!last" class="breadcrumb-node" [routerLink]="link.url" >{{link.title}}</a>
        <span *ngIf="last" class="breadcrumb-node">{{link.title}}</span>
        <span *ngIf="last" class="breadcrumb-title">{{link.title}}</span>
    </ng-container>
</div>