.breadcrumb-title {
    font-size: 22px;
    opacity: .5;
    float: right;
}

.breadcrumb-node {
    margin-right: 5px;
}

a.breadcrumb-node::after {
    margin-left: 5px;
    content: "/";
}

span.breadcrumb-node { 
    opacity: .8;
}