    <div #autoShownModal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog"
    [config]="{backdrop: 'static', ignoreBackdropClick: true}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa" [ngClass]="{
                        'fa-check-circle': promptType === types.Info,
                        'fa-exclamation-triangle': promptType === types.Warning,
                        'fa-exclamation-circle': promptType === types.Error,
                        'fa-question-circle': promptType === types.Question}">
                        </i> {{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{message}}</p>
                </div>
                <div class="modal-footer">
                    <button *ngIf="promptType !== types.Question" type="button" 
                    class="btn btn-dialog btn-secondary" data-dismiss="modal" (click)="closeModal()">OK</button>
                    <button *ngIf="promptType === types.Question" type="button" 
                    class="btn btn-dialog btn-primary" data-dismiss="modal" (click)="performAction()">Yes</button>
                    <button *ngIf="promptType === types.Question" type="button" 
                    class="btn btn-dialog btn-secondary" data-dismiss="modal" (click)="closeModal()">No</button>
                </div>
            </div>
        </div>
    </div>