@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

main {
    height: 100%;
}

body {
    background-color: #f4f4f4 !important;
}

.container {
    max-width: 80% !important;
}

.card {
    box-shadow: 0 0 4px #64646485;
    border-radius: 0 !important;
    border: none !important;
    font-size: 14px !important;
}

.card-body {
    padding: 30px !important;
}

.mat-progress-spinner circle {
    stroke: #026cdf !important;
}

.row-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
}