.btn {
    padding: .205rem .55rem !important;
    min-width: 120px;
}

.btn:disabled,.btn.disable {
    cursor: default;
}

.btn-icon {
    min-width: 0 !important;
    border-radius: 50% !important;
    border: none !important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.237);
    line-height: 1;
    padding: 0 !important;
}

.btn-icon.cdk-drag-dragging {
    pointer-events: none !important;
}

.btn-icon:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.337);
    transform: scale(1.1);
}

.btn-grid {
    min-width: 0 !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.btn-grid:hover {
    transform: scale(1.1);
}

.btn:focus {
    box-shadow: none !important;
}

.add-button {
    color: #026cdf !important;
    float: right;
    margin-right: 20px;
    margin-top: -120px;
    position: relative;
}

.btn-input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -120px;
    z-index: 1;
}

.btn-dialog {
    min-width: 80px !important;
}
