.modal {
    text-align: center;
    padding: 0!important;
}
  
.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    min-width: 400px !important;
}

.modal-body > p {
    max-height: 500px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 620px !important;
    }
}
