.form-control {
    height: calc(1.5em + .45rem + 2px) !important;
    padding: .175rem .75rem !important;
}

.invalid-feedback {
    display: block !important; 
}

span.invalid-feedback::before {
    content: "\2605";
}

.autocomplete-loading {
    background: url("../assets/loading.png") no-repeat 96%
}
