<app-breadcrumb-container [links]="links"></app-breadcrumb-container>

<div class="card">
    <div class="card-body">
        <app-datatable [actions]="getActions" [callback]="getTaskGroups">
            <table class="table">
                <thead>
                    <tr>
                        <th data-property="taskGroupId" data-type="hidden">Id</th>
                        <th data-property="taskGroupName" data-type="text">Group Name</th>
                        <th data-property="numberOfTasks" data-type="text">Number of tasks</th>
                        <th data-action="edit" data-type="button" data-icon="fas fa-edit"></th>
                        <th data-action="remove" data-type="button" data-icon="fas fa-trash-alt"></th>
                    </tr>
                </thead>
            </table>
        </app-datatable>

        <button class="btn btn-icon add-button pull-right" cdkDrag>
            <i class="fa fa-4x fa-plus-circle" (click)='createTaskGroup()'></i></button>
    </div>
</div>