<form #userTaskForm="ngForm" (ngSubmit)="submitUserTaskForm()">
    <h5 class="text-center">Add/Edit User Task</h5>
    <input hidden [(ngModel)]="userTask.userTaskId" #userTaskId="ngModel" name="userTaskId">
    <input hidden [(ngModel)]="userTask.userId" #userId="ngModel" name="userId">
    <div class="form-group">
        <label for="taskName">Task Name</label>
        <input class="form-control" type="text" name="taskName" #userTaskName="ngModel" [(ngModel)]="userTask.userTaskName"
            placeholder="Provide group name" required>
        <span *ngIf="userTaskName.invalid && userTaskForm.submitted" class="invalid-feedback">
            Task Name is required!
        </span>
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input class="form-control" type="datetime-local" name="deadline" #deadline="ngModel" [(ngModel)]="userTask.deadline"
            placeholder="Provide deadline" required>
        <span *ngIf="deadline.invalid && userTaskForm.submitted" class="invalid-feedback">
            Deadline is required!
        </span>
    </div>
    <div class="form-group">
        <label for="user">User</label>
        <input class="form-control" type="text" name="user" #user="ngModel" [(ngModel)]="userTask.userName"
            placeholder="Provide user name" [matAutocomplete]="userAutocomplete"
            (ngModelChange)="userNameChanged.next($event)" [ngClass]="{ 'autocomplete-loading': userSuggestionsAreLoading }">
        <mat-autocomplete #userAutocomplete="matAutocomplete" [displayWith]="displayUserName" (optionSelected)="userSelected($event)">
            <mat-option *ngFor="let user of userSuggestions | keyvalue" [value]="user">
                {{user.value}}
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="form-group mb-5">
        <label for="status">Status</label>
        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="userTask.statusId" required>
            <option *ngFor="let status of taskStatusDictionary | keyvalue" [value]="status.key">
                {{status.value}}
            </option>
        </select>
        <span *ngIf="status.invalid && userTaskForm.submitted" class="invalid-feedback">
            Status is required!
        </span>
    </div>
    <div class="row-bottom">
        <button type="reset" class="btn btn-secondary" (click)="cancelForm()">Cancel</button>
        <button [disabled]="!userTaskForm.dirty" type="submit" class="btn btn-primary ml-3">
            {{userTask.userTaskId ? 'Update' : 'Create'}}
        </button>
    </div>
</form>